<ol class="tweets">
  <% @tweets.each do |tweet| %>
  <li class="tweet">
    <img src="<%= tweet.user.thumbnail %>" class="tweet__photo" />
    <div class="tweet__body">
      <div class="tweet__info">
        <a class="tweet__name" href="#"><%= tweet.user.name %></a>
        <a class="tweet__username" href="#">@<%= tweet.user.username %></a>
        <span class="tweet__date timeago" title="<%= tweet.created_at.iso8601 %>"></span>
      </div>
      <div class="tweet__text" data-autolink="true"><%= tweet.text %></div>
    </div>
  </li>
  <% end %>
  <li class="tweets__more">
    <a class="tweets__more-link" href="">More</a>
  </li>
</ol>
