<!DOCTYPE html>
<html>
<head>
  <title>Sitepoint - Jade On Rails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="menu">
    <%= link_to "", root_path, class: "menu__link" %>
  </div>
  <%= yield %>
</body>
</html>
